.ml12 {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml12 .letter {
  text-align: center;
  align-content: center;
  display: inline-block;
  line-height: 1em;
}

.center {
  align-content: "center";
  text-align: center;
}
